.warning_mesagge{
    padding: 10px;
    line-height: 35px;
}

.nav-wrapper
{
    min-height:50px;
}

.nav.affix {
    top: 0px;
    position:fixed;
    /*min-width: 89%;*/
}

textarea { resize: vertical; }