{% extends "base.html" %}
{% block content %}

 <script>
    var addsname = [];
    var descriptions = [];
    var locations = [];
    var urls = [];
    var filas =[];
    var dates= [];
    var hours =[];
    var fila=1;
 </script>
<div class="row">

    <div class="col-md-1 text-center" style="margin-top: 20px">
        {% if user %}
        <a class="btn btn-primary" href="/new">Crear Evento
            <span style="margin-left: 5px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        </a>
        {% endif %}
    </div>
    <div class="col-md-10 text-center">
        <h1>Agenda Cultural <i class="fa fa-calendar" aria-hidden="true"></i></h1>
    </div>
    <div class="col-md-1 text-center">{{ user_text }}</div>
</div>
{% if adds %}
<div class="nav-wrapper">
    <!--<div class="nav" data-spy="affix" style="width: 89%;display: block;z-index: 5;margin-top: 70px">-->
    <div class="nav navbar affix" data-spy="affix" data-offset-top="120" style="z-index: 5;">
        <div class="navbar-inner">
            <div class="container">
                <div class="span12">
                    <div class="col-md-4">
                        <a class="btn btn-danger" href="#tableSec" style="width: 100%">Listado
                            <span style="margin-left: 5px;"><i class="fa fa-list" aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success" href="#calSec" style="width: 100%">Calendario
                            <span style="margin-left: 5px;"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-info" href="#mapSec" style="width: 100%">Mapa
                            <span style="margin-left: 5px;"><i class="fa fa-map" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr id="tableSec"/>
<div class="row" >
    <h4 align="center" >Listado de Eventos</h4>
    <div class="col-md-12">
        <table class="table" id="addslist">
            <thead>
            <th>Nombre</th>
            <th>Lugar</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>+Info</th>
<!--        <th>Editar</th>-->
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {% for add in adds %}
                <tr class="clickable-row" data-href="/see/{{add.key().id()}}">
                    <td><a href="/see/{{add.key().id()}}">{{ add.name }}</a></td>
                    <td>{{ add.location }}</td>
                    <td>{{ add.category }}</td>
                    <td>{{ add.price }} €</td>
                    <script>
                        var fulldate = "{{ add.datetime }}";
                        var splitdatetime = fulldate.split(" ");
                        var splitdate = splitdatetime[0].split("-");
                        var fullhour = splitdatetime[1];
                        var splithour = fullhour.split(":");

                    </script>
                    <td><script>document.write(splitdate[2] + "/" + splitdate[1] + "/" + splitdate[0]);</script></td>
                    <td><script>document.write(splithour[0] + ":" + splithour[1]);</script></td>
                    <td><a class="btn btn-info" href="/see/{{ add.key().id() }}">Ver</a></td>
{#                    <td><a class="btn btn-warning" href="/edit/{{ add.key().id() }}">Editar</a></td>#}
                    <td>{% if (user == add.author) %}<a class="btn btn-warning" href="/edit/{{ add.key().id() }}">Editar</a>{% endif %}</td>
                    <td>{% if (user == add.author) %}<a class="btn btn-warning" href="/delete/{{ add.key().id() }}">Eliminar</a>{% endif %}</td>
                </tr>
                <script>
                    addsname.push('{{ add.name }}');
                    descriptions.push('{{ add.description }}');
                    locations.push('{{ add.location }}');
                    urls.push("/see/"+{{ add.key().id() }});
                    dates.push(splitdate[0] + "-" + splitdate[1] + "-" + splitdate[2]);
                    hours.push(splithour[0] + ":" + splithour[1]+":00");
                    filas.push(fila);
                    fila++;
                </script>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--<div class="col-md-1"></div>-->
</div>
    <hr id="calSec"/>
    <div class="row" >
        <h4 align="center" >Calendario de Eventos</h4>
        <div class="col-md-12" >
            <div id='calendar'></div>
        </div>
    </div>
    <hr id="mapSec"/>
    <div class="row" >
        <h4 align="center" >Mapa de Eventos</h4>
        <div class="col-md-12" style="margin:20px 0 10px 0; width:100%;">
            <div id="map" style="margin:0 auto; width:100%; height:640px;"></div>
        </div>
    </div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <!--<div class="col-md-3"></div>-->
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen anuncios todav&iacute;a.</label>
        </div>
        <div class="col-md-6">
            <div id='calendar'></div>
        </div>
        <!--<div class="col-md-3"></div>-->

    </div>
</div>

{% endif %}

<script type="text/javascript">

    $(document).ready(function () {

        // page is now ready, initialize the calendar...
        var eventsJSON=[];
        for (var i=0;i<locations.length;i++){
            eventsJSON.push({title:addsname[i],start:dates[i]+"T"+hours[i]});
        }
        $('#calendar').fullCalendar({
            // put your options and callbacks here
            header: { center: 'month,agendaWeek' },
            locale: 'es',
            themeSystem: 'bootstrap3',
            events:eventsJSON,
            aspectRatio: 2
        })

    });

    window.onload = function () {
        if (!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    };

    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });

    $(document).ready(function () {
        $('#addslist').DataTable({
            "paging":   false,
            "order": [[ 4, "asc" ],[3,"asc"]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });
    });

</script>

     {#   Map #}
    <script>
        function initMap() {
            var address = 'Malaga Spain';
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    var coords = results[0].geometry.location;
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 9,
                        center: coords
                    });
                    var i=0;
                    var features = locations;
                    features.forEach(function (feature) {
                        var f=filas[i];
                        var name = addsname[i];
                        var info = descriptions[i];
                        var url = urls[i];
                        geocoder.geocode({'address': locations[i] + ', Malaga Spain'}, function (results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                map.setCenter(results[0].geometry.location);
                                var contentString = '<div id="content">' +
                                    '<div id="siteNotice">' +
                                    '</div>' +
                                    '<h3 id="firstHeading" class="firstHeading">' + name + '</h3>' +
                                    '<div id="bodyContent">' +
                                    '<p>' + info + '</p>' +
                                    '<p><a href=' + url + '>' +
                                    '+Información</a> ' +
                                    '</p>' +
                                    '</div>' +
                                    '</div>';
                                var infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                });
                                var marker = new google.maps.Marker({
                                    label: ""+f,
                                    title: name,
                                    map: map,
                                    position: results[0].geometry.location
                                });
                                marker.addListener('click', function () {
                                    infowindow.open(map, marker);
                                });
                            }
                        });
                        i++;
                    });
{#                    for (var i = 0; i < locations.length; i++) {#}
{#                        var name = addsname[i];#}
{#                        var url= urls[i];#}
{#                        var info = [];#}
{#                        var contentString = '<div id="content">' +#}
{#                            '<div id="siteNotice">' +#}
{#                            '</div>' +#}
{#                            '<h1 id="firstHeading" class="firstHeading">' + name + '</h1>' +#}
{#                            '<div id="bodyContent">' +#}
{#                            '<p><b>' + name + '</b>,' + info + '</p>' +#}
{#                            '<p><a href='+url+'>' +#}
{#                            '+Información</a> ' +#}
{#                            '</p>' +#}
{#                            '</div>' +#}
{#                            '</div>';#}
{#                        info.push(new google.maps.InfoWindow({#}
{#                            content: contentString#}
{#                        }));#}
{#                        geocoder.geocode({'address': locations[i] + ', Malaga Spain'}, function(results, status) {#}
{#                            if (status === google.maps.GeocoderStatus.OK) {#}
{#                                coords = results[0].geometry.location;#}
{#                                var marker = new google.maps.Marker({#}
{#                                    position: coords,#}
{#                                    label: name,#}
{#                                    map: map#}
{#                                });#}
{#                                marker.addListener('click', function () {#}
{#                                    info[i].open(map, marker);#}
{#                                });#}
{#                            }#}
{#                        });#}
{#                    }#}
                } else {
                    alert('No se ha podido encontrar la ciudad. Motivo: ' + status);
                }
            });
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kisBSS0inBqRkeAlkzE9IwYgVT_rrv8&callback=initMap">
    </script>

{% endblock content %}
