<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agenda Cultural</title>

    <!--&lt;!&ndash; Bootstrap Core CSS &ndash;&gt;-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/locale/es.js"></script>

    {# JQuery UI#}
    <script type="text/javascript" src="/static/js/jqueryui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/js/jqueryui/jquery-ui.css">

    <!-- ClockPicker Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-clockpicker.min.css">

    <!-- ClockPicker script -->
    <script type="text/javascript" src="/static/js/bootstrap-clockpicker.js"></script>
    <script type="text/javascript" src="/static/js/jquery-clockpicker.js"></script>
    <script src="/static/js/i18n/datepicker-es.js"></script>
    <link href="/static/themes/explorer-fa/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/static/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="/static/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="/static/js/fileinput.js" type="text/javascript"></script>
    <script src="/static/js/locales/es.js" type="text/javascript"></script>
    <script src="/static/themes/explorer-fa/theme.js" type="text/javascript"></script>
    <script src="/static/themes/fa/theme.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/50335eae9b.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Custom CSS -->
    <!--<style>-->
        <!--body {-->
            <!--padding-top: 70px;-->
            <!--/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */-->
        <!--}-->
    <!--</style>-->
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Eventos</a>
                </li>
                <li>
                    <!-- <a href="/login"> <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a> -->
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        {% block content %}
        {% endblock content %}
    </div>
    <hr>
    <div class="row" align="center">
        <h4>Agenda Cultural. Todos los Derechos Reservados</h4>
    </div>
    <hr>
</div>

</body>

</html>


