{% extends "base.html" %}
{% block content %}
<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Editar anuncio <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputAuthor" class="col-sm-3 control-label">Email</label>

                <div class="col-sm-6">
                    <input type="email" class="form-control" name="inputAuthor" id="inputAuthor" placeholder="author" value="{{ add.author }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputText" class="col-sm-3 control-label">Descripci&oacute;n</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputText" id="inputText"
                           placeholder="text" value="{{ add.text }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPriority" class="col-sm-3 control-label">Prioridad</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputPriority" id="inputPriority"
                           placeholder="priority" value="{{ add.priority }}">
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-warning">Actualizar</button>
                <a class="btn btn-danger" href ="/delete/{{ add.key().id() }}">Eliminar</a>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

{% endblock content %}
