{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Editar Evento<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
        </div>
    </div>
    <a class="btn btn-primary" href="/">
    <span style="margin-right: 5px;"><i class="fa fa-arrow-left" aria-hidden="true"></i>
    </span>
    Volver
    </a>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" enctype="multipart/form-data" id="formEvent" method="post">
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Nombre del Evento</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" name="inputName" id="inputName"
                                   placeholder="Nombre del Evento" value="{{ add.name }}" required="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputCategory" class="col-sm-3 control-label">Categoria</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="inputCategory" id="inputCategory"></select>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescription" class="col-sm-3 control-label">Descripci&oacute;n</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <textarea class="form-control" name="inputDescription" id="inputDescription"
                                      form="formEvent"
                                      placeholder="Escriba una breve descripción" required="true">{{ add.description }}</textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputLocation" class="col-sm-3 control-label">Localización</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="inputLocation" id="inputLocation"></select>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPrice" class="col-sm-3 control-label">Precio</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="number" class="form-control" name="inputPrice" id="inputPrice" min="0.00"
                                   value="{{ add.price }}" step="0.01" required="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputHour" class="col-sm-3 control-label">Hora</label>
                    <div class="col-sm-6">
                        <div class="input-group clockpicker" data-placement="right" data-align="top">
                            <input id="inputHour" name="inputHour" type="text" class="form-control"
                                   required="true" readonly="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDate" class="col-sm-3 control-label">Fecha</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" type="text" id="inputDate" name="inputDate"
                                   data-placement="right" required="true" readonly="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputImage" class="col-sm-3 control-label">Cartel</label>
                    <div class="col-sm-6">
                        <div class="file-loading">
                            <input id="inputImage" name="inputImage" type="file">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFlickr" class="col-sm-3 control-label">Tag Flickr</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" name="inputFlickr" id="inputFlickr" value="{{ add.tag }}"/>
                            <span class="input-group-addon"><i class="fa fa-flickr" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" value="submit" class="btn btn-warning">Actualizar</button>
                    <a class="btn btn-danger" href="/delete/{{ add.key().id() }}">Eliminar</a>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div style="background-color: silver" align="center">
                <img id="viewerPoster" src="/static/img/noImage.jpg" height="320" >
            </div>
        </div>
        {% if add.tag != "Ninguno" %}
{#            <div class="col-md-1"></div>#}
            <div class="col-md-6" style="margin:10px 0 10px 0;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div id="pictures" class="carousel-inner">
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
{#            <div class="col-md-1"></div>#}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12" style="margin:10px 0 10px 0;">
            <div id="map" style="width:100%; height:520px;"></div>
        </div>
    </div>
    {#    Calendar#}

    <script>
    {%if poster != "-1" %}
            document.getElementById("viewerPoster").src = "data:image/png;base64," + {{poster}};
    {%endif %}
    {% if add.tag != "Ninguno" %}
        var len ={{numphotos}};
        var photo = {{photos}};
            $(document).ready(function () {
                for (var i = 0; i < len; i++) {
                    var code = "";
                    if (i == 0) {
                        code = "<div class=\"item active\" align=\"middle\">";
                    } else {
                        code = "<div class=\"item\" align=\"middle\">";
                    }
                    $("#pictures").append(code + "<img src=" + photo[i] + " style=\"height:320px;\" ></div>");
                }

            });

        $(document).ready(function () {
            // Activate carousel
            $("#myCarousel").carousel();

            // Enable carousel control
            $(".left").click(function () {
                $("#myCarousel").carousel('prev');
            });
            $(".right").click(function () {
                $("#myCarousel").carousel('next');
            });

            // Enable carousel indicators
            $(".slide-one").click(function () {
                $("#myCarousel").carousel(0);
            });
            $(".slide-two").click(function () {
                $("#myCarousel").carousel(1);
            });
            $(".slide-three").click(function () {
                $("#myCarousel").carousel(2);
            });
        });
    {% endif %}
    </script>

    <script>
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#inputDate").datepicker({
                firstDay: 1,
                minDate: 0,
                maxDate: "+6M +10D",
                orientation: "right"
            });
        });
    </script>
    {#    Clock#}
    <script type="text/javascript">
        $('.clockpicker').clockpicker({
            default: 'now',
            {#            autoclose: true,#}
            donetext: 'Hecho'
        });

        $.getJSON("../static/json/location.json", function (json) {
            var i;
            var pos=1;
            for (i = 0; i < json.locations.length; i++) {
                $("#inputLocation").append(new Option(json.locations[i], json.locations[i]));
            }
            $("#inputLocation").val("{{ add.location }}");
        });

        $.getJSON("../static/json/category.json", function (json) {
            var i;
            for (i = 0; i < json.category.length; i++) {
                $("#inputCategory").append(new Option(json.category[i], json.category[i]));
            }
            $("#inputCategory").val("{{ add.category }}");
        });

        $("#inputImage").fileinput({
            language: 'es',
            previewFileType: "image",
            showUpload: false,
            allowedFileExtensions: [
                "jpg", "jpeg", "png", "gif"
            ]
        });
        var fulldate="{{ add.datetime }}";
        var splitdatetime=fulldate.split(" ");
        var splitdate=splitdatetime[0].split("-");
        var fullhour=splitdatetime[1];
        var splithour=fullhour.split(":");
        document.getElementById("inputDate").value = splitdate[2]+"/"+splitdate[1]+"/"+splitdate[0];
        document.getElementById("inputHour").value = splithour[0]+":"+splithour[1];
        {% if poster != "-1" %}
            document.getElementById("viewerPoster").src = "data:image/png;base64," + {{ poster }};
        {% endif %}

    </script>

     {#   Map #}
    <script>
        function initMap() {
            var address = '{{ add.location }}, Malaga Spain';
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    var coords = results[0].geometry.location;
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: coords
                    });
                    var marker = new google.maps.Marker({
                        position: coords,
                        map: map
                    });
                } else {
                    alert('No se ha podido encontrar la ciudad. Motivo: ' + status);
                }
            });
        }
        $( "#inputLocation" ).click(function() {
            initMap();
        });
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kisBSS0inBqRkeAlkzE9IwYgVT_rrv8&callback=initMap">
    </script>

{% endblock content %}

