{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Nuevo Evento <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-horizontal" enctype="multipart/form-data" id="formEvent" method="post">
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Nombre del Evento</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" name="inputName" id="inputName"
                                   placeholder="Nombre del Evento" required="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputCategory" class="col-sm-3 control-label">Categoria</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="inputCategory" id="inputCategory"></select>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescription" class="col-sm-3 control-label">Descripci&oacute;n</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <textarea class="form-control" name="inputDescription" id="inputDescription"
                                      form="formEvent"
                                      placeholder="Escriba una breve descripción" required="true"></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputLocation" class="col-sm-3 control-label">Localización</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <select class="form-control" name="inputLocation" id="inputLocation"></select>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPrice" class="col-sm-3 control-label">Precio</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="number" class="form-control" name="inputPrice" id="inputPrice" min="0.00"
                                   value="5.00" step="0.01" required="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputHour" class="col-sm-3 control-label">Hora</label>
                    <div class="col-sm-6">
                        <div class="input-group clockpicker" data-placement="right" data-align="top">
                            <input id="inputHour" name="inputHour" type="text" class="form-control" required="true" readonly="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDate" class="col-sm-3 control-label">Fecha</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" type="text" id="inputDate" name="inputDate" required="true" readonly="true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputImage" class="col-sm-3 control-label">Cartel</label>
                    <div class="col-sm-6">
                        <div class="file-loading">
                            <input id="inputImage" name="inputImage" type="file">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFlickr" class="col-sm-3 control-label">Tag Flickr</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" name="inputFlickr" id="inputFlickr"/>
                            <span class="input-group-addon"><i class="fa fa-flickr" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" value="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    {#    Calendar#}
    <script>
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#inputDate").datepicker({
                firstDay: 1,
                minDate: 0,
                maxDate: "+6M +10D",
                orientation: "right"
            });
        });
    </script>
    {#    Clock#}
    <script type="text/javascript">
        $('.clockpicker').clockpicker({
            default: 'now',
            {#            autoclose: true,#}
            donetext: 'Hecho'
        });

        $(document).ready(function () {
            var now = new Date();
            value = [
                "" + now.getHours(),
                "" + now.getMinutes()
            ];
            if (value[1] < 10) {
                value[1] = "0" + value[1];
            }
            var month = now.getMonth() + 1;
            document.getElementById('inputHour').value = value[0] + ":" + value[1];
            document.getElementById('inputDate').value = now.getDate() + "/" + month + "/" + now.getFullYear();
        });
        $.getJSON("../static/json/location.json", function (json) {
            var i;
            for (i = 0; i < json.locations.length; i++) {
                $("#inputLocation").append(new Option(json.locations[i], json.locations[i]));
            }
        })

        $.getJSON("../static/json/category.json", function (json) {
            var i;
            for (i = 0; i < json.category.length; i++) {
                $("#inputCategory").append(new Option(json.category[i], json.category[i]));
            }
        })

        $("#inputImage").fileinput({
            language: 'es',
            previewFileType: "image",
            showUpload: false,
            allowedFileExtensions: [
                "jpg", "jpeg", "png", "gif"
            ]
        });

    </script>

{% endblock content %}

