{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Ver Evento <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
        </div>
    </div>
    <a class="btn btn-primary" href="/">
    <span style="margin-right: 5px;"><i class="fa fa-arrow-left" aria-hidden="true"></i>
    </span>
    Volver
    </a>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" enctype="multipart/form-data" id="formEvent" method="post">
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Nombre del Evento</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label class="form-control">{{ add.name }}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputCategory" class="col-sm-3 control-label">Categoria</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label class="form-control">{{ add.category }}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescription" class="col-sm-3 control-label">Descripci&oacute;n</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <textarea class="form-control" name="inputDescription" id="inputDescription"
                                      readonly="true">{{ add.description }}</textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputLocation" class="col-sm-3 control-label">Localización</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label class="form-control">{{ add.location }}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPrice" class="col-sm-3 control-label">Precio</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label class="form-control">{{ add.price }}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputHour" class="col-sm-3 control-label">Hora</label>
                    <div class="col-sm-6">
                        <div class="input-group clockpicker" data-placement="right" data-align="top">
                            <label class="form-control" id="inputHour">{{ add.hour }}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDate" class="col-sm-3 control-label">Fecha</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label class="form-control" id="inputDate">{{ add.date }}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                {#            <div class="form-group">#}
                {#                    <label for="inputFlickr" class="col-sm-3 control-label">Tag Flickr</label>#}
                {#                    <div class="col-sm-6">#}
                {#                        <div class="input-group">#}
                {#                            <label class="form-control" id="inputFlickr">{{ add.tag }}</label>#}
                {#                            <span class="input-group-addon"><i class="fa fa-flickr" aria-hidden="true"></i></span>#}
                {#                        </div>#}
                {#                    </div>#}
                {#            </div>#}
            </form>
        </div>
        <div class="col-md-6">
            <div style="background-color: silver" align="center">
                <img id="viewerPoster" src="/static/img/noImage.jpg" height="320">
            </div>
        </div>
        {% if add.tag != "Ninguno" %}
{#            <div class="col-md-1"></div>#}
            <div class="col-md-6">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div id="pictures" class="carousel-inner">
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
{#            <div class="col-md-1"></div>#}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div id="map" style="width:100%; height:520px;"></div>
        </div>
    </div>
    {#    Calendar#}
    <script>
        {%if poster != "-1" %}
            document.getElementById("viewerPoster").src = "data:image/png;base64," + {{poster}};
        {%endif %}
        {%  if add.tag != "Ninguno" %}
        var len = {{numphotos}};
        var photo = {{photos}};
            $(document).ready(function () {
                for (var i = 0; i < len; i++) {
                    var code = "";
                    if (i == 0) {
                        code = "<div class=\"item active\" align=\"middle\">";
                    } else {
                        code = "<div class=\"item\" align=\"middle\">";
                    }
                    $("#pictures").append(code + "<img src=" + photo[i] + " style=\"height:320px;\" ></div>");
                }

            });

        $(document).ready(function () {
            // Activate carousel
            $("#myCarousel").carousel();

            // Enable carousel control
            $(".left").click(function () {
                $("#myCarousel").carousel('prev');
            });
            $(".right").click(function () {
                $("#myCarousel").carousel('next');
            });
        });
        {%  endif %}
    </script>

    {#    Clock#}
    <script type="text/javascript">
        $('.clockpicker').clockpicker({
            default: 'now',
            {#            autoclose: true,#}
            donetext: 'Hecho'
        });

            // Enable carousel indicators
            $(".slide-one").click(function () {
                $("#myCarousel").carousel(0);
            });
            $(".slide-two").click(function () {
                $("#myCarousel").carousel(1);
            });
            $(".slide-three").click(function () {
                $("#myCarousel").carousel(2);
            });

        var fulldate="{{ add.datetime }}";
        var splitdatetime=fulldate.split(" ");
        var splitdate=splitdatetime[0].split("-");
        var fullhour=splitdatetime[1];
        var splithour=fullhour.split(":");
        document.getElementById("inputDate").innerHTML = splitdate[2] + "/" + splitdate[1] + "/" + splitdate[0];
        document.getElementById("inputHour").innerHTML = splithour[0] + ":" + splithour[1];

    </script>

    {#   Map #}
    <script>
        function initMap() {
            var address = '{{ add.location }}, Malaga Spain';
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    var coords = results[0].geometry.location;
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: coords
                    });
                    var marker = new google.maps.Marker({
                        position: coords,
                        map: map
                    });
                } else {
                    alert('No se ha podido encontrar la ciudad. Motivo: ' + status);
                }
            });
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kisBSS0inBqRkeAlkzE9IwYgVT_rrv8&callback=initMap">
    </script>

{% endblock content %}

